
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <div class="container">
        <h2>Main Admin Dashboard</h2>
    </div>
</div>


