
@{
    ViewBag.Title = "AdministrationDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <div class="text-danger">@TempData["message"]</div>
    <h2>Administration Dashboard</h2>
</div>


