
@{
    ViewBag.Title = "DepartmentDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="text-danger">@TempData["message"]</div>
    <h2>Department Dashboard</h2>
</div>

